img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="password"],
  &[type="range"] {
    width: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

body {
  font-family: $font-base;
  color: $white;
  background-color: $dark;
  font-weight: 400;
  background-image: url(../images/bgr.png);
  background-repeat: no-repeat;
  background-position: left 52% top 0;
}
