img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  transition: 0.2s;
  &:hover {
  }
}

body {
  font-family: $font-base;
  color: $gray;
  font-size: 17pt;
}