<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png" sizes="32x32">
  <title>Icetea Platform: A Painless and Efficient Blockchain</title>
  <link rel="stylesheet" href="css/app.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">iTEE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="banner">
      <div class="container">
        <div class="title">Advance Your Stellar Golf Style</div>
        <div class="subtitle">A premium golf platform & bespoke services</div>

        <div>
          <img class="mr-3" src="images/appstore.png" alt="">
          <img src="images/appgoogle.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <!-- build:content -->

  <footer class="footer">
    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">Sign up for our newsletter get to know what's new at iTee</div>
          <div class="col-lg-6">
            <form action="">
              <div class="form">
                <input type="text" placeholder="Enter your email here">
                <button>Get lastest promotion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-nav-main-title">iTEE</div>
            <div class="footer-nav-main-text">iTEE is a premium golf platform that helps connect golfers with golfers
              and
              golfers with high-quality golf courses in the world to bring the best golfing experiences to each player.
            </div>
          </div>
          <div class="col-lg-1 divider"></div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-4">
                <div class="footer-nav-title">Address</div>
                <p>7916 Glenholme Lane Sandusky, OH 44870</p>
              </div>
              <div class="col-lg-4">
                <div class="footer-nav-title">Contact us</div>
                <p>+84-123-456-789</p>
                <p>contact@example.com</p>
              </div>
              <div class="col-lg-4">
                <div class="footer-nav-title">Follow us</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center container">
      Copyright © 2020 iTee Pte Ltd. All rights reserved.
    </div>
  </footer>
</body>

</html>