$nav-breakpoint: 1400px;
.header {
  color: $white;
  font-size: 22px;
	background-color: $dark;
	@media screen and (max-width: $nav-breakpoint) {
		background-color: $white;
		box-shadow: 0px 3px 13px 0px #efefef;
		color: $black;
	}
	.menu-icon {
		display: none;
		cursor: pointer;
		@media screen and (max-width: $nav-breakpoint) {
			display: block;
			font-size: 18px;
		}
	}
  .nav {
		&bar {
			padding: 0;
			height: 60px;
			display: flex;
			align-items: center;
			&-brand {
				font-size: 30px;
				font-family: $font-montserrat;
				color: $white;
				&:hover {
					color: $white;
					text-decoration: none;
				}
				@media screen and (max-width: $nav-breakpoint) {
					color: $black;
					font-size: 25px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					&:hover {
						color: $black;
						text-decoration: none;
					}
				}
				&-mobile {
					display: none!important;
					font-size: 30px!important;
					font-family: $font-montserrat;
					@media screen and (max-width: $nav-breakpoint) {
						display: block!important;
					}
				}
			}
			&-nav {
				&.nav-left {
					@media screen and (max-width: $nav-breakpoint) {
						transform: translateX(-100%);
						transition: transform 0.3s;
						width: 260px;
						height: 100%;
						position: fixed;
						top: 0;
						left: 0;
						background-color: #fff;
						z-index: 3;
						&.active {
							transform: translateX(0%);
							box-shadow: 1px 0px 18px 0px #cccccc;
						}
					}
				}
				.nav-link {
					color: $gray-3;
					font-size: 14px;
					font-weight: 300;
					text-decoration: none;
					display: inline;
					&:hover, &:focus {
						color: $white;
					}
				}
			}
			&-collapse {
				height: 100%;
			}
			.close-icon {
				color: #585858;
				font-size: 36px;
				position: absolute;
				right: 13px;
				top: 0;
				cursor: pointer;
				display: none;
				@media screen and (max-width: $nav-breakpoint) {
					margin-left: 0;
					display: block;
        }
			}
		}
    &-item {
			display: inline-block;
      &:not(:first-child) {
				margin-left: calc(25px - 1rem);
        @media screen and (max-width: $nav-breakpoint) {
          margin-left: 0
        }
			}
			&.active .nav-link{
				color: $white;
				font-weight: 700;
			}
			@media screen and (max-width: $nav-breakpoint) {
				display: block;
				padding: 7px 0;
				border-bottom: 1px solid #dcdcdc;
				&.active .nav-link, .nav-link{
					color: $black;
					font-weight: 700;
					&:hover, &:focus {
						color: $black;
					}
				}
			}
		}
		&-icon {
			font-size: 17px;
		}
		&-right {
			height: 100%;
			margin-right: -15px;
			padding-right: 15px;
			padding-left: 30px;
			display: flex;
			align-items: center;
			background-color: $black;
			.fa-user {
				display: none;
			}
			@media screen and (max-width: $nav-breakpoint) {
				position: absolute;
				right: 15px;
				height: 60px;
				background-color: #fff;
				color: #000;
				.nav-item {
					border-bottom: 0;
				}
				.nav-link {
					display: none;
				}
				.fa-user {
					display: block;
					font-size: 19px;
					margin-left: 16px;
				}
			}
			.nav-link {
				color: $white;
			}
			.nav-item:nth-child(2) {
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 1px;
					background-color: $white;
					opacity: 0.16;
					height: 30px;
					position: absolute;
					right: -5px;
					top: 3px;
				}
			}
		}
  }
  .banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right 65%;
    height: 490px;
    color: #ffffff;
    display: flex;
    align-items: center;
    @media screen and (min-width: $breakpoint-md) {
      height: 690px;
      background-position: unset;
		}
		&__intro-text{
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
			span {
				display: inline-block;
				border-bottom: 1px solid $white;
				opacity: 0.7;
				cursor: pointer;
			}
		}
    .title {
      font-size: 28px;
      line-height: 40px;
      width: 160px;
      font-weight: 700;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 60px;
        line-height: 70px;
				width: 670px;
      }
    }
    .subtitle {
      opacity: 0.6;
      margin: 25px 0 60px;
      width: 260px;
      font-size: 16px;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 19px;
        width: auto;
      }
    }
  }
}
